<!DOCTYPE html>
<html>
  <head>
    <title>Tutor++</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <style>
      #container {
        max-width: 1100px;
        margin: 0px auto;
      }

      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
      #department {
        text-align: center;
      }

      #discpar {
        font-size: 30px;
        text-align: center;
      }
      
    </style>
    
  </head>

  <body>
    <div id="container">    
    {% include 'nav.html' %}
    <div class="container, text-bg-secondary p-3">
    <p>Welcome to {{company_name}} ;) </p>

      <img class="img-fluid" id="banner" src="https://technopolis.sansprogram.repl.co/static/banner(1).jpg">
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      
       <div>
        {% for tut in tutor %}
          {% include 'tutoritem.html' %}
        {% endfor %}
      </div>

      <a href="https://technopolis.sansprogram.repl.co/index" button type="button" class="btn btn-outline-light">See all</a>
      
      <h1 class="text-center mt-2 mb-4"> About Tutor++</h1>
      <p id="discpar" class="lead">Tutor++ is a web applicaton designed and deployed by Technopolis. It is a tutor web application that connects tutors and students online. It allows departments to post positions and students to apply for said positions. Tutor++ is a web-app that helps DUT Staff and students find each other in a designated environment for faster and more efficient communication. It is founded, developed and deployed by Technopolis. <br> <b>Fall In Love With Learning Again</b></p>

    
    </div> 
    {% include 'footer.html' %}
  </body>
  
</html>

<!-- <!DOCTYPE html>

<html lang="">
<head>
<title>Technopolis</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">

<div class="wrapper row0">
  <header id="header" class="hoc clear"> 
    
    <div id="logo" class="one_quarter first">
      <h1><a href="index.html"><span>T</span>ech<span>nop</span>olis<span></a></h1>
    </div>
    <div class="three_quarter">
      <ul class="nospace clear">
        <li class="one_third first">
          <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong> +27 (031) 673 5730</span></div>
        </li>
        <li class="one_third">
          <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong> sneaker@info.co.za</span></div>
        </li>
        <li class="one_third">
          <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Mon. - Sat.:</strong> 08.00am - 18.00pm</span></div>
        </li>
      </ul>
    </div>
   
  </header>
</div>

<div class="wrapper row1">
  <section class="hoc clear"> 
   
    <nav id="mainav">
      <ul class="clear">
        
        <li><a href="index.html">Home</a></li>
		<li><a href="about.html">About Us</a></li>
        <li><a href="profile.html">My Profile</a></li>
		<li><a href="Apply_.html">Position</a></li>
        
      </ul>
        
    </nav>
    
   
    
  </section>
</div>

<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
  <div id="pageintro" class="hoc clear"> 
    
    <article>
      <p>FALL IN LOVE WITH LEARNING AGAIN!!</p>
      <h3 class="heading">TECHNOPOLIS</h3>
      <p>A class above the rest.</p>
      <footer><a class="btn" href="about.html">About Us <i class="fas fa-angle-right"></i></a></footer>
    </article>
    
  </div>
</div>
  
     
  </section>
</div>

<div class="wrapper row2">
  <section class="hoc container clear"> 
   
    <div class="sectiontitle">
      <h6 class="heading">WHAT WE OFFER</h6>
      
    </div>
    <div id="latest" class="group">
      <article class="one_third first"><a class="imgover" href="TP.html "><img src="tutor position.JPG" alt=""></a>
        <div class="excerpt">
          <h6 class="heading">Tutor Position</h6>
         
          <footer><a href="Apply_.html">View More <i class="fas fa-angle-right"></i></a></footer>
        </div>
      </article>
      <article class="one_third"><a class="imgover" href=" TEACHER ASSISTANT.html"><img src="Teacher assistance.JPG" alt=""></a>
        <div class="excerpt">
          <h6 class="heading">Teacher Assistant</h6>
          
          <footer><a href="Apply_.html">View More <i class="fas fa-angle-right"></i></a></footer>
        </div>
      </article>
      <article class="one_third"><a class="imgover" href="OFFICE ADMIN.html "><img src="Office Admin.JPG" alt=""></a>
        <div class="excerpt">
          <h6 class="heading">Office Admin</h6>
          
          <footer><a href="Apply_.html">View More <i class="fas fa-angle-right"></i></a></footer>
        </div>
      </article>
    </div>
    
  </section>
</div>

<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    
    <div class="one_third first">
      
       
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a class="faicon-instagram" href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
   
  </footer>
</div>
</div>

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>

<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html> -->
