<!DOCTYPE html>
<html>
  <head>
    <title>Tutor++</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <style>
      #container {
        max-width: 1100px;
        margin: 0px auto;
      }

      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
      #department {
        text-align: center;
      }

      #discpar {
        font-size: 30px;
        text-align: center;
      }
      
    </style>
    
  </head>

  <body>
    <div id="container">    
    {% include 'nav.html' %}
    <div class="container, text-bg-secondary p-3">
    <p>Welcome to {{company_name}} ;) </p>

      <img class="img-fluid" id="banner" src="https://technopolis.sansprogram.repl.co/static/banner(1).jpg">
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      
      <div>
        {% for tut in tutor %}
          {% include 'tutoritem.html' %}
        {% endfor %}
      </div>

      <a href="https://technopolis.sansprogram.repl.co/availpositions" button type="button" class="btn btn-outline-light">See all</a>
      
      <h1 class="text-center mt-2 mb-4"> About Tutor++</h1>
      <p id="discpar" class="lead">Tutor++ is a web applicaton designed and deployed by Technopolis. It is a tutor web application that connects tutors and students online. It allows departments to post positions and students to apply for said positions. Tutor++ is a web-app that helps DUT Staff and students find each other in a designated environment for faster and more efficient communication. It is founded, developed and deployed by Technopolis. <br> <b>Fall In Love With Learning Again</b></p>

    
    </div> 
    {% include 'footer.html' %}
  </body>
  
</html>