<nav class="navbar shadow-sm navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://technopolis.sansprogram.repl.co">Tutor++</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://technopolis.sansprogram.repl.co">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://technopolis.sansprogram.repl.co/login/">Signin</a>
<!--           <a href="login.html">My Link</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href=https://technopolis.sansprogram.repl.co/signup/>Signup</a>
        </li></br>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  data-bs-toggle="dropdown" aria-expanded="true">
            Link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div style="height: 66px"></div>