<div class="border-bottom row mt-2 mb-4" style="margin-bottom:16px; padding-bottom:10px;">
  <div class="col-9">
    <h4 style="margin-bottom:4px;">
      {{tut['title']}}
    </h4>
    <div>
      <b>Department:</b> {{tut['department']}}
    </div>
    <div>
      <b>Location:</b> {{tut['location']}}
    </div>
    {% if 'salary' in tut %}
    <div>
      <b>Salary:</b> {{tut['salary']}}
    </div>
    
    {% endif %}
  </div>
  <div class="col-3">
    <a href="https://technopolis.sansprogram.repl.co/application" button type="button" class="btn btn-outline-light">Apply</a>
    </button>
  </div>
</div>   